@import url("https://fonts.googleapis.com/css?family=Audiowide");

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(250, 81, 81);
}

::-webkit-scrollbar-track{
    background-color: rgb(35, 35, 35);
}

:root{
    text-decoration: none;
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
    background-color: rgb(27, 27, 27);
}

.line2{
    margin-top: 100px;
    width: 100%;
    height: 5px;
    background: #464646;
}


/*! NavBar */

.navbar{
    padding: 35px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    background-color: rgb(35, 35, 35);
    text-align: center;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .logo .czerwone{
    color: rgb(250, 81, 81);
}


.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
    margin-top: 8px;
    list-style-type: none;
    font-size: 20px;
}

.navbar .nav-links ul li a:hover{
    color: rgb(250, 81, 81);
}

.hamburger{
    display: none;
}


/*! Media */

@media screen and (max-width: 900px){
    .navbar{
        padding: 35px;
    }

    .nav-links{
        position: absolute;
        background-color: rgb(26, 25, 25);
        width: 100%;
        height: 50vh;
        margin-top: 110px;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .nav-links.mobile-menu{
        display: flex;
    }

    .nav-links ul{
        position: absolute;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }


    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 6px 0;
    }


    .projects .box{
        display: inline-block;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        margin: auto;
        text-align: center;
    }

    .card{
        font-size: 17px;
        width: 335px;
        padding: 20px 35px;
        background: #383636;
        border-radius: 25px;
        margin: 15px;
        position: relative;
        text-align: center;
        align-items: center;
        margin: 40px;
    }

}


/*! Container */

.container{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto
}

.container .text{
    font-size: 25px;
    text-align: center;
}

.tekst{
    font-size: 40px;
    color: rgb(250, 81, 81);
    text-align: center;
}

/*! Projects */


.projects{
    width: 100%;
    margin-top: 70px;
    background: #252424;
}

.projects .title{
    padding: 25px;
    text-align: center;
    color: rgb(250, 81, 81);
    font-weight: bold;
}

.projects .title .czerwone{
    font-size: 30px;
    color: rgb(250, 81, 81);
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
}

.card{
    width: 335px;
    padding: 20px 35px;
    background: #383636;
    border-radius: 25px;
    margin: 15px;
    position: relative;
    min-height: 365px;
    margin: 40px
}

.card h5{
    text-align: center;
    font-size: 19px;
    padding: 15px;
    color: rgb(250, 81, 81);
}

/*! Footer */

.footer{
    margin-top: 100px;
    background: #464646;
    width: 100%;
    height: 50px;
}

.footer .footer-tekst{
    text-align: center;
    padding: 18px;
}

.footer .footer-tekst .czerwone{
    color: rgb(250, 81, 81);
    font-weight: bold;
}